<%= form_for @question do |f| %>
	<%= f.label :question %>
	<%= f.text_field :question %>
	<br />
	<%= f.label :answers %>
	<%= f.hidden_field :answers %>
	<br />
	<label class="sub_label" for="question_correct_answer">
		Correct answer
	</label>
	<input id="correct_answer" type="text" />
	<br />
	<label class="sub_label" for="question_wrong_answer">
		Wrong answer
	</label>
	<input id="temp_answer" type="text" /> 
	<input id="wrong_answers" type="hidden" />
	<button id="add_answer" type="button" /> Add answer</button>
	<div id="wrong_answer_list">
	</div>
	<br />
	<%= f.label :tags %>
	<%= f.hidden_field :tags %>
	<input id="temp_tag" type="text" />
	<button id="add_tag" type="button">Add Tag</button><br />
	<div id="tag_list">
	</div>

	<%= f.submit %>

	<script type="text/javascript">
		function updateAnswers()
		{
			var correct_answer=$("#correct_answer").val();
			var wrong_answers=$("#wrong_answers").val();
			var answers=correct_answer;
			if(wrong_answers.length >0)
			{
				answers += "|" + wrong_answers;
			}
			$("question_answers").val(answers);
		}
		$("#correct_answer").change(function(){
			updateAnswers();
		});
		$("#add_answer").click(function(){
			var wrong_answer=$("#temp_answer").val();
			var temp_answer=$("#wrong_answers").val();
			//add seperator if needed
			if(temp_answer.length > 0)
			{
				temp_answer += "|";
			}
			temp_answer += wrong_answer;
			$("#wrong_answers").val(temp_answer);
			var label=$('<div class="answer">' + wrong_answer + '</div>');
			$("#wrong_answer_list").append(label);
			updateAnswers();
		});
		$("#add_tag").click(function()
		{
			//get the tag
			var tag=$("#temp_tag").val();
			//get the current list of tags
			var temp_val=$("#question_tags").val();
			//Add a seperator if needed
			if(temp_val.length > 0)
			{
				temp_val += "|"; 
			}
			//Add the new tag
			temp_val += tag;
			//Set the hidden field (for submitting)
			$("#question_tags").val(temp_val);
			//Add to the div (for user feedback)
			var label=$('<div class="tag">' + tag + '</div>');
			$("#tag_list").append(label);

			//Clear the visible field
			$("#temp_tag").val("");
		});
	</script>
<% end %>
